@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
    --font-family: "Open Sans", Arial, Helvetica, sans-serif;

    --color-1: #4760ff;
    --color-2: #6d80ff;
    --color-3: #deb328;
    --color-4: #1b173f;
    --color-5: #e5e9f2;
}

